:root {
    --background-color: #fdfcfc; 
    --sidebar-bg: #f3e9e5;
    --extended-sidebar-bg: #f8f6f5f6; 
    --widget-bg: #fdfcfc; 
    --border-color: #e0e3eb; 
    --text-color: #333; 
    --primary-blue: #5c91ff; 
    --hover-blue: #3b82f6; 
    --light-blue: #eff5ff; 
    --hover-text: #ffffff;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); 
}

body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif; 
}