/* .todo-widget {
} */

.todo-widget input {
    width: 70%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid var(--border-color);
    border-radius: 6px;
}

.todo-widget button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 4px;
}

.todo-widget button:hover {
    background-color: #45a049;
}

.todo-widget ul {
    list-style-type: none;
    padding: 0;
}

.todo-widget ul li {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-widget ul li button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 16px;
}
